<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSInterstitialLevel1</key>
	<array>
		<string>Đang tìm…</string>
		<string>Để tôi xem…</string>
		<string>Tôi đang xử lý</string>
		<string>Đang xử lý</string>
		<string>Chờ đã</string>
		<string>Hmm…</string>
		<string>Một lát thôi</string>
		<string>Chỉ cần một giây</string>
		<string>Một giây</string>
	</array>
	<key>CSInterstitialLevel2&amp;3</key>
	<array>
		<string>Đang suy nghĩ…</string>
		<string>Vẫn đang thử…</string>
		<string>Hãy chờ tôi một lát…</string>
	</array>
	<key>CSInterstitialLevel4</key>
	<array>
		<string>Rất tiếc, có vẻ như tôi đang gặp phải sự cố với kết nối</string>
	</array>
</dict>
</plist>
