<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSInterstitialLevel1</key>
	<array>
		<string>Etsin…</string>
		<string>Anna, kun katson…</string>
		<string>Se on työn alla</string>
		<string>Työn alla</string>
		<string>Odota hetki</string>
		<string>Hmm…</string>
		<string>Hetkinen</string>
		<string>Pikku hetki</string>
		<string>Sekunti</string>
	</array>
	<key>CSInterstitialLevel2&amp;3</key>
	<array>
		<string>Tutkin tilannetta…</string>
		<string>Yritän edelleen…</string>
		<string>Pieni hetki…</string>
	</array>
	<key>CSInterstitialLevel4</key>
	<array>
		<string>Minulla on yhteysongelmia</string>
	</array>
</dict>
</plist>
