<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>32</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.2</string>
	<key>CFBundleVersion</key>
	<string>422.91.27</string>
	<key>ProjectName</key>
	<string>AirPortDriverBrcm4311</string>
	<key>SourceVersion</key>
	<string>4229127</string>
</dict>
</plist>
