<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSInterstitialLevel1</key>
	<array>
		<string>Buscando…</string>
		<string>Lo miro…</string>
		<string>Estoy en ello</string>
		<string>Lo estoy buscando</string>
		<string>Espera un momento</string>
		<string>A ver…</string>
		<string>Un momento</string>
		<string>Dame un segundo</string>
		<string>Un segundo</string>
	</array>
	<key>CSInterstitialLevel2&amp;3</key>
	<array>
		<string>Pensando…</string>
		<string>Sigo intentándolo…</string>
		<string>Dame un momento…</string>
	</array>
	<key>CSInterstitialLevel4</key>
	<array>
		<string>Lo siento, parece que tengo problemas con la conexión</string>
	</array>
</dict>
</plist>
