<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSInterstitialLevel1</key>
	<array>
		<string>Bakıyorum…</string>
		<string>Bir bakayım…</string>
		<string>Hallediyorum</string>
		<string>İlgileniyorum</string>
		<string>Dur bir dakika</string>
		<string>Hmm…</string>
		<string>Bir dakika</string>
		<string>Bir saniye</string>
		<string>Biraz bekler misin?</string>
	</array>
	<key>CSInterstitialLevel2&amp;3</key>
	<array>
		<string>Düşünüyorum…</string>
		<string>Hâlâ deniyorum…</string>
		<string>Bir saniye lütfen…</string>
	</array>
	<key>CSInterstitialLevel4</key>
	<array>
		<string>Üzgünüm, bağlantıyla ilgili bir sorunum var gibi</string>
	</array>
</dict>
</plist>
